.group-members { 
  background-color: var(--ion-color-light);
}

.group-image {
  width: 6em;
  margin: auto;
}

@media only screen and (min-width: 450px) {
  .member-spacer {
    border-bottom: 1px solid var(--ion-color-hover);
    height: 1rem;
  }
}

.group-info {
  padding: 0;
  white-space: nowrap;
}

.group-info h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: "Poppins SemiBold";
  color: var(--ion-color-tertiary);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--ion-color-hover);
}

.group-info > ion-row > ion-col {
  min-width: 240px;
  margin: 1rem;
  padding: 0;
}
.member-container ion-label,
.group-info-row ion-label {
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: "Poppins SemiBold";
}

.group-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-info-row {
  margin-top: 1rem;
  width: 14rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.group-info-column {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-info-row > ion-col {
  justify-content: flex-start;
  text-align: left;
  padding: 0;
}

@media only screen and (min-width: 544px) {
  .group-info h2 {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .container > ion-card.group-members {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .group-image {
    margin-right: 2rem;
  }

  .group-info-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  .group-info-row {
    margin-top: 1rem;
    max-width: 16rem;
    display: flex;
    justify-content: space-between;
  }
  .group-info-column {
    margin: 0;
  }
}
