.group-container > ion-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

ion-label.group-label {
  margin-left: 1rem;
}

ion-card-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  word-break: break-word;
}

ion-button {
  margin: auto;
  margin-top: 0.6rem;
  fill: clear;
}

ion-icon {
  /* size: 30px; */
  float: right;
  color: var(--ion-color-primary);
}

.add-icon {
  color: var(--ion-color-primary);
}

.remove-icon {
  color: var(--ion-color-danger);
}

img.icon {
  /* padding: 0.5rem; */
  width: 4.5rem;
  float: left;
}

.group-label-container {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.group-label-container ion-icon {
  font-size: 24px;
}

.group-label-container .clickable {
  margin-bottom: 0;
  position: absolute;
  top: 0.14rem;
  right: 0.14rem;
}

.group-label-container .icon-button-container {
  min-width: 1.9rem;
  min-height: 1.9rem;
}

.group-date {
  float: right;
}

.group-container ion-button {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.favorite-icon {
  color: var(--ion-color-primary);
}