.group-container > ion-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

ion-label {
  margin-left: 1rem;
}

ion-card-title {
  /* margin-bottom: 0.5rem; */
  font-size: 1.2rem;
}

ion-button {
  margin: auto;
  margin-top: 0.6rem;
  fill: clear;
}

ion-icon {
  /* size: 30px; */
  float: right;
  color: var(--ion-color-primary);
}

.addIcon {
  color: var(--ion-color-primary);
}

.removeIcon {
  color: var(--ion-color-danger);
}

img.icon {
  /* padding: 0.5rem; */
  width: 4.5rem;
  float: left;
}

.groupDate {
  float: right;
}

.group-container {
  margin-top: 2rem;
}
