


.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

h3 {
  padding: 0;
  margin: 0;
}

ion-list.list-md {
  background-color: transparent;
}

.header3 {
  color: var(--ion-color-primary) !important;
}

ion-text {
  font-family: "Poppins Regular";  
}

ion-card {
  border-radius: var(--app-rounded-corners);
}

.ion-page {
  align-items: center;
}

ion-content {
  text-align: center;
  max-width: 768px;
}

ion-item {
  text-align: center;
}
