.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: 700;
}

h5 {
  font-weight: 700;
  text-align: left;
}

.header3 {
  color: var(--ion-color-primary) !important;
}

ion-text {
  font-family: "Poppins Regular";
}

ion-card {
  border-radius: var(--app-rounded-corners);
}

.ion-page {
  align-items: center;
}

ion-content {
  text-align: center;
  max-width: 768px;
}

ion-item {
  text-align: left;
}

ion-item.item-input {
  border-radius: var(--app-rounded-corners);
  box-shadow: 0px 4px 16px var(--ion-color-shadow);
  overflow: hidden;
  margin: 1rem;
  background-color: var(--ion-color-light);
}

ion-button {
  width: auto;
  display: block;
  border-radius: var(--app-rounded-corners);
  box-shadow: 0px 4px 16px var(--ion-color-shadow);
  overflow: hidden;
  margin: 1rem;
  flex-grow: 1;
  min-width: 240px;
}

.transparent-container {
  background-color: transparent;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-item.item-input, ion-item.item-input ion-input, ion-button {
  height: 3.1rem;
}


.clickable:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Login/Register screen */

.login-form-option {
  text-align: center;
  height: 2.4em;
}

.login-form-option p{
  flex: auto;
}

.login-form-option span{
  color: var(--ion-color-primary);
  font-weight: 600;
  margin-left: 0.5em;
}