ion-row.iconList {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  
}

ion-card.groupIconClass {
    min-width: 4rem;
    padding: 0.5rem;
}

ioin-img.groupImage {
    margin: 2rem;
}