ion-card-title.expense-label {
  font-family: "Poppins Regular";
}


@media (prefers-color-scheme: dark) {
  ion-card-title {
    color: var(--ion-text-color) !important;
  }
}

h5 {
  color: var(--ion-color-secondary);
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  h5 {
    color: var(--ion-text-color);
  }
}

h4.label {
  color: var(--ion-color-medium);
}

h4.value {
  color: var(--ion-color-dark-tint);
}

.expense-details-card {
  padding: 0.5rem;
}

.participants-list ion-row{
    justify-content: center;
}
