img.logo {
    object-fit: contain;
    padding: 0.4rem;
  }
  
  ion-buttons {
    margin-left: 0.5rem;
  }
  
  ion-title {
    padding-left: 0.5rem;
  }
  
  .profileIcon {
    margin: auto;
    padding: 0.4rem;
    color: var(--ion-color-primary);
  }