ion-card-title.expense {
  color: var(--ion-color-secondary) !important;
}

@media (prefers-color-scheme: dark) {
  ion-card-title.expense {
    color: var(--ion-color-primary) !important;
  }
}

.expense-card {
  color: none;
}
